# Code format configuration for this project using clang-format
# SPDX-FileCopyrightText: 2021 Junde Yhi <junde@yhi.moe>
# SPDX-License-Identifier: CC0-1.0

BasedOnStyle: LLVM
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Empty
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
IndentCaseLabels: true
